[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
C=NL
ST=Groningen
L=Groningen
O=net-computing
OU=Sjors, Andrei, Niels
emailAddress=nielsmeima1@gmail.com
CN = localhost